{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Add article</h1>
    <form action="" method="post">
        <input type="text" name="tea_name" id="tea_name" class="form-control" placeholder="Enter tea name"><br>
        <textarea name="title" id="title" class="form-control" placeholder="Enter title"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Enter text"></textarea><br>
        <input type="submit" class="btn btn-succsess" value="Send">
    </form>
</div>
{% endblock %}